
<div class="p-grid">
  <div  class="col-offset-5" ><button pButton class="btn" (click)="displayPage('withdrawal')" label="Withdrawal" ></button></div>
  <div  class="col-offset-5" ><button pButton class="btn" (click)="displayPage('deposit')" label="Deposit" ></button></div>
  <div  class="col-offset-5" ><button pButton class="btn" (click)="displayPage('profile')" label="Create Profile" ></button></div>
  <div  class="col-offset-5" ><button pButton class="btn" (click)="displayPage('history')" label="History" ></button></div>
  <div  class="col-offset-5" ><button pButton class="btn" (click)="displayPage('restock')" label="Restock" ></button></div>

</div>
